h1 {
  color: blue;
}
p {
  color: white;
  background-color: black;
}

p {
    background-color:blue;
    color: white;
    padding-top: 0px ;
    padding-bottom: 0px;
    border-top: 0px solid yellow;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
}
